@media screen and (min-width:700px){
  /* page that is bigger than 700 px */
  #contactimg{
    display:block;
    height: 50%;
  }

}

@media screen and (max-width:701px){
  /* page that is smaller than 700px */

  #header h1{
    font-size: 25px;
  }

  #header h2{
    font-size: 20px;
  }

  ol{
    margin-top: 2vh;
  }

}

body {
  background-color: #FFE5E2;
  margin: auto 10vw auto 10vw;
}

h1 {
  color: #464B59;
  font-family: Bebas Neue;
  font-size: 6vh;
}

h2 {
  color: #D98B8B;
  font-family: Bebas Neue;
  font-size: 3vw;
}
h3, h4, h5{
  font-family: Bebas Neue;
  font-size: 2vw;
  color:#464B59;
  margin-bottom: -1vh;
}

h4{
  text-align: center;
  margin-bottom: 1vh;
}

ol, ul{
  color: #737AA7;
  font-family: PT Sans;
  font-size: 1vw;
  margin-bottom: 2vh;
}

#one, #two, #excited, #links{
  margin: 2vw;
}

#two{
  margin-top: -5vw;
  /* margin-bottom: -20px; */
  text-align: center;
}

#header{
  text-align: center;
}

#contactimg{
  margin: 0 0 0 0;
  width:100%;
  height:100%;
  object-fit:cover;
}

#about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#abouttext{
  margin: 6vh 1vw 6vh 1vw;
}

#goals{
  margin-bottom: 0;
}
