body {
  background-color: #FFE5E2;
}
h1 {
  color: #464B59;
  font-family: Bebas Neue;
  font-size: 6vw;
}
h2 {
  color: #D98B8B;
  font-family: Bebas Neue;
  font-size: 3vw;
}
h3, h4, h5{
  font-family: Bebas Neue;
  font-size: 2vw;
  color:#464B59;
  margin-bottom: -10px;
}
ol, ul{
  color: #737AA7;
  font-family: PT Sans;
  font-size: 1vw;
}

#one, #two, #excited, #links{
  margin: 2vw;
}

#two{
  margin-top: -70px;
  margin-bottom: -20px;
  text-align: center;
}

#header{
  text-align: center;
  margin-bottom: -60px;
  margin-top: -50px;
}

#excited{
  margin-top: -18px;
}

#links{
  margin-top: -10px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}
