body{
  padding: 0px;
  margin: 0px;
  background-color: #FFE5E2;
}

h1{
  color: #464B59;
  font-family: Bebas Neue;
  font-size: 3vw;
}

p{
  font-family: PT Sans;
}

#hero{
  width:100vw;
  height:100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#heroimg{
  width:100vw;
  position: relative;
  bottom: 100px;
}

#hero h1{
  color: white;
  z-index: 1;
  position: relative;
  font-size: 5vw;
  top: 80vh;
  margin: 0 0 0 7vw;
}

#one h1{
  color: #464B59;
  text-align: center;
}

button{
  background-color: #D9B8B8;
  color: #464B59;
  border: solid #464B59 2px;
  font-family: "Bebas Neue";
  font-size: 30px;
  margin: 10px;
  padding: 7px 15px;
}

button:active{
  background-color: #737AA7;
  color: white;
  border: solid white 4px;
}

button:hover{
  border: solid #464B59 4px;
  font-size: 34px;
}

#centerbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 100px;
}
