body{
  background-color: #FFE5E2;
}

h1{
  font-family: Bebas Neue;
  font-size: 5vw;
  text-align: center;
  color: #464B59;
  text-shadow: 5px 2px white;
}

h2{
  margin-top: 30px;
  padding-bottom: 0;
  font-family: Bebas Neue;
  font-size: 2vw;
  text-align: center;
  color: #464B59;
}

h3{
  margin: 10px 0 10px 0;
  padding: 20px 0 10px 0;
  font-size: 2vw;
}

h4{
  font-family: Bebas Neue;
  font-size: 2vw;
  text-align: center;
  color: #464B59;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
}

h5{
  margin: 10px 0 10px 0;
  color: #D98B8B;
  font-size: 4vw;
  text-align: center;
  padding: 0 20px 0 20px;
}

h6{
  font-family: Bebas Neue;
  font-size: 2vw;
  text-align: center;
  color: #464B59;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
}

p{
  font-family: PT Sans;
  line-height: 5vh;
}

.lyrics{
  font-size: 20px;
  margin: 0 0 0 0;
  padding: 5px 30px 0 30px;
}

.titletext{
  margin: 30px 0 0px 0;
}

#tabs{
  display: flex;
  margin: 5vh 10vw 0 10vw;
  /* this is where the flex box for days is on the screen */
}

#description{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  margin-bottom: 50px;
  /* this is where the flex box for the description is on the screen */
}

/* #filler{
  display: none; */
  /* I am hiding the h2 to avoid getting a warning in the code validator */
  /* doing this with classes did not work so I made two ids */
  /* it sometimes works, sometimes doesn't so I am commenting it out*/
/* } */

/* #fillerheader2{
  display: none; */
  /* I am hiding the h2 to avoid getting a warning in the code validator */
/* } */

#howtotext{
  padding-top: 30px;
}

.day{
  flex-grow: 1;
  width: auto;
  border: 1px solid #737AA7;
  background-color: #D9B8B8;
}

#image, .daytab{
  flex-grow: 1;
  width: auto;
  background-color: white;
  border: 1px solid #737AA7;
  max-width: 50%;
  border-top: none;
}

.daytab{
  border-left: none;
}

#Mondaytab, #Tuesdaytab, #Wednesdaytab, #Thursdaytab, #Fridaytab, #Saturdaytab{
  display: none;
}

.active{
  background-color: white;
  border-bottom: none;
  border-color: #737AA7;
}

img{
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  display: block;
  margin: auto;
}

#image{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: none;
}

.daytab{
  font-family: Bebas Neue;
  color: #464B59;
  text-align: center;
  font-size: 2vw;
}

span{
  /* starting point for the text animation */
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade{
  /* once fade is initiated the title text is visible */
  opacity: 1;
}
/* animated text source: https://www.youtube.com/watch?v=GUEB9FogoP8 */

hr{
  border: 10px solid #D9B8B8;
  opacity: 50%;
  margin: 0 -7px 0 -7px;
  /* adding the horizontal line from my inspriation */
}

#bottomline{
  margin-bottom: -10px;
}
