body{
  background-color: #FFE5E2;
}

#tabs{
  display: flex;
  margin: 10vh 10vw 0 10vw;
  /* this is where the flex box for days is on the screen */
}

#description{
  display: flex;
  margin: 0vh 10vw 0 10vw;
  margin-bottom: 50px;
  /* this is where the flex box for the description is on the screen */

}

.day{
  flex-grow: 1;
  width: auto;
  border: 1px solid #737AA7;
  background-color: #D9B8B8;
}

#image, .daytab{
  flex-grow: 1;
  width: auto;
  background-color: white;
  border: 1px solid #737AA7;
  /* ^take away after you work on the margin/padding */
  max-width: 50%;
  border-top: none;
}

#image{
  border-right: none;
}

.daytab{
  border-left: none;

}

h2{
  margin-top: 30px;
  padding-bottom: 0;
  font-family: Bebas Neue;
  /* font-size: 36px; */
  font-size: 2vw;
  /* margin-left: 30px; */
  text-align: center;
  color: #464B59;
}

#Mondaytab, #Tuesdaytab, #Wednesdaytab, #Thursdaytab, #Fridaytab, #Saturdaytab{
  display: none;
}

.active{
  background-color: white;
  border-bottom: none;
  border-color: #737AA7;
}

img{
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  display: block;
  margin: auto;
  /* object-position: 20% 10%; */
  /* top left right */
}

#image{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  /* overflow: hidden; */
  /* margin */
  /* border */
}

h1{
  font-family: Bebas Neue;
  font-size: 5vw;
  text-align: center;
  color: #464B59;
}

.daytab{
  font-family: Bebas Neue;
  color: #464B59;
  text-align: center;
  font-size: 2vw;
}

h3{
  margin: 10px 0 0 0;
  font-size: 2vw;
}

h5{
  margin: 0 0 10px 0;
  color: #D98B8B;
  font-size: 3vw;
}

p{
  font-family: PT Sans;
}

#filler{
  display: none;
}
