body{
  margin: auto 8vw auto 8vw;
  background-color: #E3DCF2;
  padding-bottom: 5vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Open Sans;
}
/* applied to all that don't already have styling */

nav{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto 30px auto;
}

nav a{
  font-family: Noticia Text;
  font-size: 20px;
  font-style: italic;
  margin-left: 50px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #ACABAB;
  border: 1px solid #ACABAB;
  border-left: none;
  border-right: none;
}

.active{
  color: #464B59;
  border-color: #464B59;
}
/* used on the nav to indicate what tab you are on */

#aboutme{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 50vh;
  column-gap: 15px;
  margin: 3vw 0 3vw 0;
  padding: 0 0 0 0;
  align-items: center;
}
/* flex box to put the img and text side by side */

#aboutmetext{
  margin: 1vh 1vw 1vh 1vw;
  color: #494259;
}

#aboutme img{
  margin: auto;
  object-fit: cover;
  max-width:100%;
  height:auto;
}

h1, h4, h5{
  font-family: Noticia Text;
}

h1{
  color: #574973;
  font-size: 60px;
}

#header h1{
  text-align: center;
  font-weight: 600;
  margin: 3vw 0 0 0;
}

h2{
  font-family: Noticia Text;
  font-size: 18px;
}

#prtext h2{
  text-align: center;
  margin-top: 1vw;
}

h3{
  font-family: Noticia Text;
}

h4{
  color: #574973;
  font-size: 40px;
}

h2, h3{
  color: #4D4D4D;
}

p{
  font-family: Open Sans;
  font-size: 15px;
  color: #494259;
  margin: 15px 0 15px 0;
}

#aboutme h4, h5{
  padding-left: 2vw;
  margin: 0 0 0 0;
  color: #4D4D4D;
}

footer{
  background-color: #6D6A75;
  padding: 4vh 2vw 4vh 2vw;
  margin: 0 -8vw 0 -8vw;
  text-align: center;
}

.resume-heading, .writing-heading, .contact-heading{
  margin-bottom: 5vh;
  padding: 0 5vw 0 5vw;
  color: #4D4D4D;
  font-size: 50px;
}

.contactmetext{
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 5vh;
  color: #4D4D4D;
  font-size: 20px;
}

#resumeimg{
  width: 60%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.slideshow-container img{
  width: 100%;
}
/* parent to the slideshow */

.wrapper{
  margin: auto;
  text-align: center;
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px #AE95F4;
  margin-bottom: 20px;
}
/* contact form */

.wrapper h6{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #574973;
  font-size: 20px;
}
/* text at the top of the contact form */

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.wrapper textarea{
  height: 80px;
  resize: none;
}

.wrapper .btn input[type="submit"]{
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #AE95F4;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}
/* submit button */

.wrapper #error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  width: 100%;
}

.mySlides {
  display: none;
}
/* Hide the images in slideshow by default */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #494259;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #BBADD9;
}
/* Next & previous buttons */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */

.prev:hover, .next:hover {
  background-color: #574973;
  color: #E3DCF2;
}
/* On hover, add a black background color with a little bit see-through */

.text {
  color: #4D4D4D;
  font-size: 20px;
  margin-top: 12px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Caption text */

.numbertext {
  color: #494259;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Number text (1/3 etc) */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10vh;
}
/* The dots/bullets/indicators */

.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/* Fading animation */

#filler{
  display: none;
  /* I am hiding the h2 to avoid getting a warning in the code validator that my section doesn't have a heading*/
}

.footericons{
  display: inline-block;
  margin: 2vw 1vh 2vw 1vh;
}

.fa-instagram{
  color: white;
}

.fa-twitter{
  color: white;
}

.fa-linkedin{
  color: white;
}

.fa-instagram:hover{
  color: #AE95F4;
}

.fa-twitter:hover{
  color: #AE95F4;
}

.fa-linkedin:hover{
  color: #AE95F4;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* used for slideshow */


@media screen and (max-width:801px){
  #aboutme{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: 50vh;
    column-gap: 15px;
    margin: 3vw 0 0 0;
    padding: 0 0 0 0;
    align-items: center;
  }

  #aboutme img{
    margin: auto;
    object-fit: cover;
    max-width:70%;
    height:auto;
  }

  #aboutme h4{
    text-align: center;
    padding-top: 1vw;
  }

  #resumeimg{
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .resume-heading, .writing-heading, .contact-heading{
    margin-bottom: 1vh;;
  }

  nav{
    margin-bottom: 15px;
  }

  footer{
    padding: 2vh 2vw 2vh 2vw;
  }
  /* adjusting the space etc. for smaller screens */
}
